html {
  background-color: white;
}

.cooperVideo {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.cooperVideo iframe {
  max-width: 768px;
  max-height: 432px;
  width: 80vw;
  height: 45vw;
  border-radius: 10px;
}

.content {
  font-family: "Kano";
  background-color: white;
  color: #555555;
  font-size: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content img {
  width: 35vw;
  margin: 0 0 2em;
  border-radius: 2px;
}

.cardContainer {
  width: 40vw;
  flex-grow: 1;
}

.card {
  height: 50vw;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: "CircularStd";
  color: #ffffff;
  font-size: 1.2em;
  background-color: white;
}

#card1 {
  background-color: white;
  align-items: flex-end;
}

#card2 {
  align-items: flex-end;
}

#card3 {
  background-color: #ea87a0;
  height: 25vw;
}

#card4 {
  align-content: flex-end;
}

#engineering {
  width: 100%;
  height: auto;
}

.card img {
  width: 35vw;
  margin: 0;
}

#card5 {
  height: 75vw;
}

#card5 img {
  margin-bottom: -0.2rem;
}

#card6 {
  /* background-color: #144976; */
  background-color: #ea87a0;
  height: 25vw;
}

#card7 {
}

#card8 {
  background-color: #ea87a0;
  height: 25vw;
}

@media (min-width: 1200px) {
}

@media (max-width: 786px) {
  #headerSubtitle {
    word-spacing: 100vw;
    letter-spacing: 0.4em;
  }
}

@media (max-width: 600px) {
  .cardContainer {
    width: 100vw;
  }
  .card {
    width: 100%;
    height: 100vw;
  }
  .card img {
    width: 70vw;
    margin: 0;
  }

  #card3,
  #card6,
  #card8 {
    height: 50vw;
  }

  #card5 {
    height: 150vw;
  }
}
